body
  color #555555
  font-family "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif
  background-color #222222

a
  color #888888
  text-decoration none

  &:visited,
  &:focus
    color #888888

  &:hover
    color #888888
    text-decoration underline

.fade-enter,
.fade-in-enter
  opacity 0

.fade-enter-active,
.fade-in-enter-active
  opacity 0
  animation-duration 0.3s
  animation-fill-mode forwards
  animation-name fade-in
  animation-delay 0s

.fade-leave
  opacity 1

.fade-leave-active
  opacity 1
  animation-duration 0.3s
  animation-fill-mode forwards
  animation-name fade-out
  animation-delay 0s

@keyframes fade-in
  0%
    opacity 0
    visibility hidden
  100%
    opacity 1
    visibility visible

@keyframes fade-out
  0%
    opacity 1
    visibility visible
  100%
    opacity 0
    visibility hidden
