html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width")
    title n-at
    style
      :stylus
        body
          color #888888
          background-color #222222
  body
    #app